body {
  font-size: 20px;
  font-family: monospace;
  color: black;
	text-align: center;
  text-decoration:
}
ul{
  list-style-type: none;
}

h1{
	text-decoration: underline;
	text-align: center;
}

td{
	text-align: center;
  color: gray;
	border: solid;
	text-align: center;
  user-select: none;
}
table {
    margin: 0 auto;
}
#info{
  position: absolute;
  text-align: left;
  color: navy;
  font-size: 15;
}
.top{
    border-top: 80px solid black;
	position: absolute;
	bottom: 0; top: 0; left: 0; right: 0;

}

.sides{
    position: absolute;
    bottom: 0; top: 0; left: 0; right: 0;
    border-right: 200px solid gray;
    border-left: 200px solid gray;
}

img{
	width: 20px;
	height: 20px;
}
